

<div class="container-fluid">
<h1>Welcome</h1>

<!-- Example single danger button -->
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <p><br><strong>Hey There</strong> Welcome <3 </p>
</div>


</div>