@import 'bootstrap/dist/css/bootstrap';

.navbar-brand
{
  font-size: 2rem;
}

.shiftright
{
  float: right;
}

.norp
{
  padding-right: 0px !important;
}

.nolp
{
  padding-left: 0px !important;
}

.logoutpd
{
  padding-left: 10px;
}

.name
{
  margin-top: 5px;
  float: right;
  padding-left: 50px;
}